body {
    background-color: #000000;
    margin: 30;
}

#ativar {
    display: block;
    margin: 20px auto;
}

#modal {
    padding: 30px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    max-width: 400px;
    margin: 20px auto;
}

#modal h1 {
    font-family: sans-serif;
    margin: 0px 0px 20px;
}

#modal label {
    display: block;
    font-family: sans-serif;
    margin-bottom: 5px;
    margin-top: 10px;
}

#modal input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: .5rem;
    font-size: 1rem;
    background: #7f7f7f;
}

#modal button {
    margin-top: 20px;
    display: flex;
    font-family: sans-serif;
    font-size: 1rem;
    padding: .6rem 2rem;
    border: none;
    background: #ff5c00;
}